@model string
@{
    if (Session["username"] == null)
    {
        Response.Redirect("~/Account/Index");
    }

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>PT. BANK JAGO INDONESIA</h3>
<p>
    Console Log Output
</p>
@*<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.1.9.1.min.js")"></script>*@
<div class=" text-right">
    <a class="btn btn-primary" style="float:left; margin-right:5px;" href="@Url.Action("List","ScheduleTask")"><i class='fa-solid fa-calendar'></i> Upload Scheduler </a>
    <a class='btn btn-danger' onclick=Delete()><i class="fa-solid fa-trash"></i> Clear Log Console</a>
    <a class="btn btn-primary" href="@Url.Action("DownloadLog")"><i class="fa-solid fa-file-arrow-down"></i> Download Log Files</a>
    @* <a class="btn btn-danger" id="btnUpload" href="@Url.Action("ClearLog")">Clear Console Log</a>*@
</div>
<p></p>
<pre id="buffer" data-url="@(Url.Action("Buffer", "Home"))">@Model</pre>
<script>
    var objDiv = document.getElementById("buffer");
    objDiv.scrollTop = objDiv.scrollHeight;
</script>
@using (Html.BeginForm())
{

    <div class="text-right">
        <a class="btn btn-success" style="float:left;" href="@Url.Action("List","GoodFile")"><i class="fa-regular fa-circle-check"></i> File Sukses Report</a>
        <a class="btn btn-warning" style="float:left; margin-left: 5px;" href="@Url.Action("List","BadFile")"><i class="fa-regular fa-circle-xmark"></i> File Gagal Report</a>

        @* <a class="btn btn-danger" href="@Url.Action("ClearFileUpload")">Clear Upload File</a>*@

        <a class="btn btn-info" style="float:left; margin-left: 5px;" href="@Url.Action("ClientUpload")"><i class="fa-solid fa-file-arrow-up"></i> Upload Files</a>
        @*  <button class="btn btn-primary" type="submit">Manual Job Proses Upload</button>*@
        <a class='btn btn-primary' style="float:left; margin-left: 5px;" onclick=CreateJob()><i class='fa-solid fa-exclamation-circle'></i> Manual Job Proses Upload</a>
    </div>
}


<script>
    $(document).ready(function () {

        $('#btnUpload').click(function () {
            Delete();
        });

    });

    function CreateJob() {
        if(confirm('Are you sure want to proceed Manual Process Job ?'))
        {
            $.ajax({
                type: "POST",
                url: '@Url.Action("ManualProcess", "Home")' ,
                success: function (data) {
                    if (data.success)
                    {
                        dataTable.ajax.reload();
                        $.notify(data.message, {
                            globalPosition: "top center",
                            className: "success"
                        });
                    }
                }
            });
        }
    }

 function Delete() {
        if(confirm('Are You Sure to Clear this Log Console ?'))
        {
            $.ajax({
                type: "POST",
                url: '@Url.Action("ClearLog", "Home")' ,
                success: function (data) {
                    if (data.success)
                    {
                        dataTable.ajax.reload();
                        $.notify(data.message, {
                            globalPosition: "top center",
                            className: "success"
                        });
                    }
                }

            });
        }
    }

</script>